#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.decks li {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: #eaeaea;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #242424;
  position: relative;
}

.decks li:hover {
  background-color: #eee;
  cursor: pointer;
}

.decks li button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
